%h1 Listing your programmer entries

%table
  %thead
    %tr
      %th Programmer ID
      %th Name
      %th Description
      %th Language
      %th Expertise lvl
      %th
      %th
      %th

  %tbody
    - @programmer.each do |programmer|
      %tr
        %td= programmer.id
        %td= programmer.name
        %td= programmer.description
        %td= programmer.language
        %td= programmer.expertise_lvl
        %td= link_to 'Show', programmer
        %td= link_to 'Edit', edit_programmer_path(programmer)
        %td= link_to 'Destroy', programmer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Programmer', new_programmer_path
